/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;

    /* border-box tells the browser to account for any border and padding 
    in the values you specify for an element's width and height. */
    box-sizing: border-box;
} 



/* General styles */

body {

    /* body takes up 100% of the viewport height*/
    min-height: 100vh;
    
    /* initiating flexbox for the body */
    display: flex;
    
    /* Child Elemnts of body are arranged along the vertical axis */
    flex-direction: column;

    /* Generic project styles */
    color: #3a3a3a;
}


    

/* Header */
header {
    background-color: lightcoral;
}

/* Main content */
main {
    background-color: lightblue;

    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto; 
}

/* Footer */
footer {
    background-color: orange;
}